body{
opacity:1.0;
    min-height: 100%;
    min-width: 100%;
background-size: cover;
}

h1{
    font-size:72px;
    font-family:rosario,calibri;
    color:azure;
    font-weight: normal;
    margin-top: 0%;
    margin-left:15%;
    float:left;
    position: absolute;
    top:1%;
    left:240px;
    padding:0px 0px 0px 0px;
    text-shadow: 3px 0 0 navy;

-webkit-transition: all 0.6s ease;
transition: all 0.6s ease;
}

h1:hover {
    opacity: 1.0;
    font-size:78px;
    text-shadow: 6px 0 15px #000;
    
}


.logo img{
    margin-top:0%;
    top:3px;
    left:222px;
    position:absolute;
    margin-left:6%;
    padding: 15px 6px 15px 6px;
    float: left;
    min-width:114px;
    min-height: 114px;
    padding:10px 0 10px 0;
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.logo img:hover {
    opacity: 1.0;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
   
}


.America img{
    position:absolute;
    top:300px;
    right:5px;
    padding:20px 20px 20px 20px;
    
}
.London img{
    position:absolute;
    top:300px;
    right:330px;
    padding:20px 20px 20px 20px;
    
}
.Tokyo img{
    position:absolute;
    top:300px;
    right:660px;
    padding:20px 20px 20px 20px;
    
}
.Bangkok img{
    position:absolute;
    top:300px;
    right:1000px;
    padding:20px 20px 20px 20px;
   
}
.container img{
    opacity:0.1;
    -webkit-transition: all 0.8s ease;
transition: all 0.8s ease;
  
}
.container img:hover{
    
    border-radius:33%;
    opacity:1.0;
    text-shadow: 0px 6px 15px oldlace;
}
a.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 24px 60px 24px 60px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 20px;
    font-family: rosario;
    position:absolute;
    margin-bottom: 24px;
    top:850px;
    right: 45%;
    bottom:auto;
    border-radius: 15px;
    
}
a.button:hover{
background-color: #00bfff;
text-shadow: 0px 0 15px #fff;
}

